<!DOCTYPE html>
<html>

  <head>
    <title>NCKU ISP</title>
    <meta charset="utf-8">
    <link href="style/app.css" rel="stylesheet" />
    <link
          href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css"
          rel="stylesheet" />
    <link
          href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
          rel="stylesheet" />
    <meta
          name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
  </head>

  <body>
    <div id="app">
      <v-app>
        <v-app-bar app dark>
          <div class="d-flex align-center ml-3 noselect logo-title" @click="go('main')">
            <v-img
                   alt="Logo"
                   class="shrink mr-3"
                   contain
                   :src="logo"
                   transition="scale-transition"
                   width="2em"></v-img>
            <p class="my-0 py-0 my-3 hover font-weight-medium">
              <span>{{ title.zh }}</span>
              <br />
              <span class="font-italic">{{ $vuetify.breakpoint.mobile ? title.en_short : title.en }}</span>
            </p>
          </div>
          <v-spacer></v-spacer>
          <div v-if="!$vuetify.breakpoint.mobile">
            <v-menu
                    dark
                    :close-on-click="closeOnClick"
                    v-for="link in nav_link"
                    :key="link.url"
                    transition="slide-y-transition"
                    offset-y>
              <template v-slot:activator="{ on, attrs }">
                <span
                      class="subtitle-1 font-weight-medium mx-5"
                      text
                      v-bind="attrs"
                      v-on="on">
                  {{ link.text }}
                </span>
              </template>
              <v-list v-if="link.children.length">
                <v-list-item v-for="sub_link in link.children" :key="sub_link.text">
                  <v-list-item-title class="hover" @click="go(sub_link.link)">{{ sub_link.text }}</v-list-item-title>
                </v-list-item>
              </v-list>
            </v-menu>
          </div>
          <v-app-bar-nav-icon
                              v-if="$vuetify.breakpoint.mobile"
                              class="mx-1"
                              @click.stop="menu_drawer = !menu_drawer">
          </v-app-bar-nav-icon>
        </v-app-bar>
        <v-navigation-drawer
                             dark
                             v-model="menu_drawer"
                             right
                             fixed
                             temporary
                             v-if="$vuetify.breakpoint.mobile && menu_drawer">
          <v-list dense>
            <v-list-group
                          v-for="link in nav_link"
                          :key="link.link"
                          v-if="link.children.length">
              <template v-slot:activator>
                <v-list-item-content>
                  <v-list-item-title>{{ link.text }}</v-list-item-title>
                </v-list-item-content>
              </template>
              <v-list-item v-for="sub_link in link.children" :key="sub_link.text" link>
                <v-list-item-title
                                   @click="menu_drawer = false;go(sub_link.link)">
                  {{sub_link.text}}
                </v-list-item-title>
              </v-list-item>
            </v-list-group>
            <v-list-item
                         v-if="!link.children.length"
                         v-for="link in nav_link"
                         :key="link.url"
                         link>
              <v-list-item-content
                                   class="mt-1"
                                   @click="menu_drawer = false;go(link.link)">
                <v-list-item-title class="py-1">{{ link.text }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-navigation-drawer>
        <v-main id="main" class="overflow-y-auto">
            <v-container>
              <v-card v-for="cont in main_content" :key="cont.id" :id="cont.id" flat class="mt-10">
                <div v-html="cont.html"></div>
              </v-card>
            </v-container>
            <v-footer
              id="聯絡方式"
              dark
              padless
              class="pb-10"
            >
              <v-card
                flat
                width="100%"
                class="transparent white--text text-center"
              >
                <v-card-text>

                  <p class="my-10 mx-4 white--text subtitle-1">聯絡方式</p>

                  <v-btn
                    v-for="info in contact_info"
                    :key="info.text"
                    class="mx-4 white--text"
                    icon
                  >
                    <a 
                      :href="info.url"
                      target="_blank"
                      class="white--text text-decoration-none"
                    >
                      <v-icon size="1.7em">
                        mdi-{{ info.text }}
                      </v-icon>
                    </a>
                  </v-btn>
                </v-card-text>

                <br>

                <v-card-text class="white--text pt-0">
                  <p v-for="addr in addresses" :key="addr">{{ addr }}</p>
                </v-card-text>

                <v-card-text class="grey--text lighten-1">
                  © {{ new Date().getFullYear() }} {{ title.en_short }}
                </v-card-text>
              </v-card>
            </v-footer>
        </v-main>
      </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@12.3.2/dist/markdown-it.min.js"></script>
    <script src="js/app.js"></script>
  </body>

</html>
