@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital@1&family=IBM+Plex+Sans:ital@0;1&family=Noto+Sans+TC:wght@400;500;700&display=swap');

body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #f0f0f0;
}

.hover:hover {
  cursor: pointer;
  transition-duration: 0.3s;
}

*::selection {
  background: rgba(39, 39, 39, 0.2);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.logo-title {
  font-family: 'IBM Plex Mono', sans-serif;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100vh;
  padding: 1em;
}

h1 {
  size: 3.3125rem;
  line-height: 1.15em
}

h2 {
  size: 2.25ren;
  line-height: 1.5em
}

h3 {
  size: 1.5rem;
  line-height: 1.5em
}

h4 {
  size: 1.25rem;
  line-height: 1.5em
}