body {
  background-color: #C4C4C4;
}

section div {
  width: 80%;
  margin: auto;
}

nav {
  position: fixed;
  top: 0;
}

@media only screen and (max-width: 1400px) {
  .top-view .navigator {
    width: 50%;
  }

  section div {
    width: 80%;
  }

  .main-content {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 900px) {
  .top-view .navigator {
    width: 100%;
    padding-top: 10px;
  }

  section div {
    width: 90%;
  }

  .main-content {
    margin-top: 140px;
  }
}
.top-view {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  background-color: #393939;
  color: #FFFFFF;
}
.top-view > div {
  width: 80%;
  margin: auto;
}
.top-view img {
  position: absolute;
  height: 75px;
  top: 5px;
}
.top-view img + div {
  margin-left: 100px;
  margin-top: 10px;
}
.top-view .header {
  width: 30%;
}
.top-view .navigator a, .top-view .navigator a:hover, .top-view .navigator a:visited {
  color: #FFFFFF;
  text-decoration: none;
}
.top-view .navigator ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  list-style-type: none;
}
.top-view .navigator ul li {
  position: relative;
  width: 20%;
}
.top-view .navigator ul li div {
  display: block;
  width: 200px;
}
.top-view .navigator ul li ul {
  display: none;
  position: relative;
  list-style-type: none;
  left: -40px;
  width: 500px;
}
.top-view .navigator ul li ul li {
  border-style: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.top-view .navigator ul li ul li:hover {
  background-color: #202020;
}
.top-view .navigator ul li:hover ul {
  display: block;
}
.top-view div, .top-view img {
  display: inline-block;
}

footer p {
  text-align: center;
  margin: 0;
}

.tab-button-container {
  border-style: solid;
  border-width: 0 0 2px 0;
  border-color: #393939;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.tab-button-container button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px 10px 0 10px;
  padding: 5px;
  border-width: 0;
  border-radius: 10px 10px 0 0;
  background-color: #C4C4C4;
  color: #393939;
}
.tab-button-container button:hover {
  background-color: #393939;
  color: #C4C4C4;
}
.tab-button-container .active {
  border-style: solid;
  border-width: 2px 2px 0 2px;
  border-color: #393939;
}

.md-container {
  -webkit-animation: fadeEffect 1s;
          animation: fadeEffect 1s;
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.md-container img {
  max-width: 100%;
  height: auto;
}

.main-content h1 {
  text-align: center;
}
.main-content code {
  color: darkslategrey;
}