body{
    background-color: #C4C4C4;
}

section {
    div{
        width: 80%;
        margin: auto;
    }
}

.top-view{
    position: relative;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: #393939;
    color: #FFFFFF;

    > div{
        width: 80%;
        margin: auto;
    }

    ul {
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
    }

    img{
        height: 80px;
        position: relative;
        top: 0;
    }

    .header{
        width: 30%;
    }

    .navigator{
        width: 50%;
    }

    div, img {
        display: inline-block;
    }

    li {
        width: 20%;
        div{
            display: block;
            width: 160px;
        }
        ul{
            display: none;
        }
        li{
            display: block;
        }
    }
    li:hover{
        span{
            border-bottom-style: solid;
            border-width: 1px;
        }
        ul{
            display: block;
        }
    }
}

footer{
    p{
        text-align: center;
        margin: 0;
    }
}

.tab-button-container{
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: #393939;

    display: flex;
    justify-content: space-between;

    button{
        width: fit-content;
        margin:5px 10px 0 10px;
        padding: 5px;
        border-width: 0;
        border-radius: 10px 10px 0 0;
        background-color: #C4C4C4;
        color:#393939;
    }

    button:hover{
        background-color: #393939;
        color:#C4C4C4;
    }

    .active{
        border-style: solid;
        border-width: 2px 2px 0 2px;
        border-color: #393939;
    }
}

.md-container{
    animation: fadeEffect 1s;
    @keyframes fadeEffect {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    img{
        max-width: 100%;
        height: auto;
    }
}