@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');
@import url('https://css.gg/css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ethnocentric;
  src: url("fonts/ethnocentric rg.otf") format("opentype");
}

.decorative {
  font-family: ethnocentric;
}

:root {
  font-family:  Avenir, Inter, 'Noto Sans TC', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #272727;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
